*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    list-style: none;
}

aside{
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: rgb(78, 77, 77);
    width: 20%;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px ;
    padding: 0;
    
}


.samping{
    margin-bottom: 25px;
    text-align: center;
}

.samping img{
    width: 100px;
    border-radius: 50%;
    margin-top: 55%;
    box-shadow: 0 0 20px ;
}

.keterangan p{
    text-align: center ;
    padding-left: 0.5%;
    color: white;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
   padding: 35px 12% ;
   background: rgb(0, 0, 0, 0.8);
   backdrop-filter: blur(10px);
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100;
}

.navbar a{
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.navbar a:hover,.navbar a:active{
    color: orangered;
    border-bottom: 3px solid orangered;
}
.logo :hover{
    color: orangered;
    text-shadow: 0 0 25px orangered,0 0 50px orangered;
    transform: scale(1.1);
}
.logo {
    font-size: 25px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}

.contact{
    padding: 10px 28px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}
.contact:hover{
    background-color:orangered;
    box-shadow: 0 0 25px orangered;
    color: white;
}
 .bawah{
    position: fixed;
    width: 100%;
    padding: 15px;
    background: rgb(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    color: white;
    display: flex;
    bottom: 0;
}

 
#hero{
    height: 800px;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    align-items: center;
}


.pre-title{
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: black;
    position: relative;
    padding-left: 60%;
    width: fit-content;
    font-weight: 400;
    font-size: 0.9rem;
}

.hero-name{
    font-size: 3rem;
    font-weight: 700;
    margin: .5rem 0 1rem;
    padding-left: 40%;
}
p{
    padding-left: 40%;
}
.hero-name span{
    color: orangered;
}

.home img{
    width: 90%;
}

.home{
    display: flex;
    justify-content: center                                         ;
}

.hero-left{
    text-align: center;
}
.waktu{
    padding-left: 40%;
    margin-top: 20px;
}
